<h2>
	<%= @house.title %>
</h2>

<div class="address">

	<%= @house.address %>

</div>

<div class="map">

</div>

<div class="description">

</div>

<div class="user">

</div>

<div class="actions">
	<%= link_to "Book room", "#" %>
	<%= link_to "Edit", edit_house_path(@house.id) %>
	<%= link_to "Destroy", house_path(@house.id), method: :delete %>
</div>