<section class= "room">

	<%= @orders.each do |order| %>
		<div class="room">

			<h2><%= order.house.title %></h2>
		
			<p><%= order.house.address %></p>

			<p><%= order.house.price_in_pence %></p>

			<p><%= image_tag order.house.image.url %></p>
			
		</div>
	
	<% end %>

</section>