<!DOCTYPE html>
<html>
<head>
  <title>Onboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<%= link_to "Onboard", root_path %>
		<%= link_to "Login", "#" %>
		<%= link_to "Sign up", "#" %>
		<%= link_to "Log out", "#" %>
		<%= link_to "Add a house", new_house_path %>
	</nav>
</header>

<%= yield %>

</body>
</html>
